body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.first-content,
.second-content,
.third-content,
.fourth-content {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-content {
    background-color: #1f2937;
}

.hero-one {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 8px;
}

.hero-two {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 100px;
    text-align: center;
    padding: 6px 16px;
    border-radius: 10px;
}

.first-image {
    height: 250px;
    width: 600px;
    margin-left: 100px;
}

.first-text {
    width: 450px;
}

.second-content {
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-header {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.second-images {
    display: flex;
}

.second-image,
.third-image,
.fourth-image,
.fifth-image {
    height: 150px;
    width: 150px;
    margin: 0px 50px;
    border-radius: 10px;
    border: 5px solid #3882F6;
    margin-bottom: 10px;
}

.caption {
    display: block;
    width: 120px;
    text-align: center;
}

.third-content {
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 800px;
}

.quote-source {
    color: #1F2937;
    font-size: 24px;
    font-weight: 900;
    margin-left: 400px;
}

.blue-rectangle {
    background-color: #3882F6;
    width: 1500px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action {
    margin-left: 200px;
}

.call-to-action-one {
    color: #E5E7EB;
    font-size: 30px;
    font-weight: 900;
    margin: 0px;
}

.call-to-action-two {
    color: #E5E7EB;
    font-size: 20px;
    margin: 0px;
}

.sign-up-two {
    width: 200px;
    text-align: center;
    padding: 6px 16px;
    border-radius: 10px;
    margin-right: 200px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 30px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 8px 16px;
}

ul {
    display: flex;
    margin: 16px 0px;
}