body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.first-content {
    height: 300px;
}

.second-content {
    height: 300px;
}

.third-content {
    height: 300px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 8px 16px;
}

ul {
    display: flex;
    margin: 16px 0px;
}